body {
    background-color: #4169E1;
    width: 100%;
    margin: 0 auto;
}

h1 {
    color: #ffffff;
    text-align: center;
    font-weight: normal;
}
.block {
    width: 1000px;
    margin: 0 auto 20px;
}

table {
    border: 1px solid #000000;
    width: 1000px;
    margin: 0 auto;
    border-collapse: collapse;
    color: white;
}
table td {
    border: 1px solid #cc2222;
    padding: 10px;
    text-align: center;
}
#Cart {
    float: right;
    margin-right: 50px;
}

table th {
    border: 2px solid #cc2222;
    padding: 10px;
}
#filter {
    border: 2px solid #cc2222;
}
#city {
    border: 2px solid #cc2222;
}
.form-control {
    width: 250px;
}
.input-group {
    width: 200px;
    margin: 0 auto;
}

.desc {
    display: block;
    margin-left: 5%;
    margin-top: 0%;
    margin-bottom: 0%;
}

.desc p {
    margin-top: 0%;
    margin-bottom: 0%;
}

.center {
    display: block;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}